/*======================================*\
  This file is for reusable modules
  for your website or application.

  Examples:
    - Sidebars
    - Colored group boxes
    - Special list items (ul or ol)
    - animated elements (via CSS)

  Basically elements that you plan to
  re-use throughout the project.
\*======================================*/